html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(6%)
    saturate(7134%) hue-rotate(213deg) brightness(98%) contrast(96%);
  --header-bg-color: #eeeeee;
  --group-act-bg-color: #fff;
  --separate-bg-color: #ededf6;
}
